* {
    margin: 0;
    padding: 0;
}

.welcome {
    background-color: black;
    height: 400px;
    width: 100%;
    color: white;
}

img {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.first {
    height: 1000px;
    width: 500px;
}

#turn {
    height: 200px;
    width: 100%;
    background-color: red;
    color: white;
}